@import url('https://fonts.googleapis.com/css2?family=Stoke:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    max-width: 1900px;
    margin: 0 auto;
    background-color: #4488AA;
}


header{
    width: 100%;
    height: 5.5em;
    background-color: #4488AA;
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 9999;
    box-shadow: 0px 8px 10px 0px rgba(0,0,0,0.10);
}

.logo-field{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.line{
    background-color: #FFFFFF;
    height: 0.2em;
}

.ender{
    width: 30%;
    display: flex;
    align-items: end;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.ender p{
    color: #99EEEE;
}

.ender p:hover{
    color: #99EEEE;
    cursor: pointer;
}

.ender .tel{
    color: #99EEEE;
    text-decoration: none;
}

.ender .tel:hover, .ender .e-mail:hover{
    color: #99EEEE;
    cursor: pointer;
}

.ender .e-mail{
    color: #FFFFFF;
}

main{
    height: 50em;
    padding: 40px;
    font-family: 'Stoke', serif;
}

.intro{
    height: 45em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
}

.navigation{
    width: 20%;
    height: 15em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navigation ul{
    width: 100%;
    height: 100%;
    list-style-image: url('assets/BrilhoMark.png');
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

.navigation ul a, .type-lists ol a{
    color: #FFFFFF;
}

.navigation ul a:hover{
    color: #99EEEE;
    cursor: pointer;
}

.apres {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 2em;
    align-items: center;
}

.apres p{
    font-size: 18px;
    font-family: "Lucida Bright", Georgia, serif;
    color: #99EEEE;
}

.types{
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    line-height: 60px;
}

.types h2{
    color: #99EEEE;
}

/* .type-lists{
    position: relative;
    padding-left: 60px;
    font-weight: 200;
} */

.type-lists ol ul{
    list-style-type: disc;
    line-height: 200%;
    padding-left: 30px;
}

.type-lists ol ul li{
    color: #99EEEE;
}

.type-lists ol{
    color: #FFFFFF;
}

.tabInfo{
    width: 300px;
    border-collapse: collapse;
    font-size: 12px;
}

.linTH, .linTD, .preco{
    border: 3px solid #000055;
}

thead {
    background-color: #004499;
}

thead > tr, tbody > tr > .linTD{
    padding: 6px;
}

thead > tr > .linTH{
    padding: 10px;
}

thead > tr > .linTH{
    border: 3px solid #000055;
    color: #FFFFFF;
    text-align: center;
    vertical-align: middle;
}

tbody {
    background-color: #FFFFFF;
    padding: 10px;
    line-height: 180%;
    color: #000066;
}

tbody > tr > .preco{
    color:  #CC0000;
}

.stock{
    padding: 95px;
}

.stockTabInfo{
    width: 650px;
    border-collapse: collapse;
    font-size: 15px;
    text-align: center;
    vertical-align: middle;
}

.stock .stockTabInfo .colTH{
    background-color: #0066DD;
    color: #FFFFFF;
    padding: 6px;
}

.registrationBox, .shoppingBox{
    padding: 90px;
}

.shoppingForms{
    border: 3px solid #000055;
    background-color: #0066DD;
    color: #FFFFFF;
    width: 750px;
    height: 65em;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.btnBoxShopp{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.fieldsetIdentify{
    width: 100%;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

.indetifyBox{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fieldsetIdentify i a{
    color: #99EEEE;
}

.fieldsetShopping{
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

.fieldsetShopping .productsBoxOne{
    width: 100%;
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fieldsetShopping .textareaProducts{
    width: 100%;
    padding: 5px;
}

.fieldsetShopping .valueBox{
    width: 100%;
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.valueBox .valueBoxTwo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
}

.btnBoxProduct button{
    width: 50%;
}

.productsBox{
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fieldsetCard{
    width: 100%;
    padding: 25px;
    display: flex;
    justify-content: space-between;
}

.cardBox{
    width: 400px;
}

.cardBox .cardNumberBox{
    display: flex;
    align-items: center;
    align-items: flex-start;
    width: 100%;
    padding: 10px;
}

.cardNumberBox .numberInptBox, .validityBox .validityInptBox{
    padding-right: 10px;
    padding-left: 10px;
}

.cardNumberBox input{
    width: 50px;
}

.validityBox{
    padding: 10px;
    display: flex;
    align-items: flex-start;
}

.validityBox input{
    width: 50px;
}

.installmentsBox{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cardMark{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.registrationForms{
    border: 3px solid #000055;
    background-color: #0066DD;
    color: #FFFFFF;
    width: 750px;
    height: 60em;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.registrationForms h3, .shoppingForms h3{
    color: #99EEEE;
    text-align: center;
}

.registration{
    width: 700px;
}

.fieldsetOne, .fieldsetTwo{
    width: 100%;
    height: 100%;
    padding: 60px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

input, select{
    padding: 5px;
    border-radius: 5px;
    border: none;
}

.emailInput{
    width: 485px;
    height: 2.2em;
}

.textareaInpt{
    width: 480px;
    padding: 5px;
}

.textareaInptBox{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 570px;
}

.inputBoxOne, .inputBoxTwo{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 570px;
}


.inputBoxOne input{
    height: 2.2em;
}

.finalFieldsets{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 570px;
}

.finalFieldsets > .gender, .finalFieldsets > .born{
    padding: 20px;
}

.finalFieldsets > .born > .inptRadio{
    width: 50px;
}

.fieldsetTwo{
    height: 30em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.inputBoxTwo{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 570px;
}

.btnBox{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 5em;
}

.btnBox button, .btnBoxProduct button, .btnBoxShopp button{
    width: 100px;
    height: 2.2em;
    border: none;
    border-radius: 5px;
    margin-left: 5px;
    font-family: "Lucida Bright", Georgia, serif;
}

.modal{
    width: 250px;
    height: 200px;
    background-color: #4488aa;
    box-shadow: 0px 2px 26px 7px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 2px 26px 7px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 26px 7px rgba(0,0,0,0.75);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    animation: animate;
    animation-duration: 500ms;
}

.modal2{
    width: 370px;
    height: 440px;
    background-color: #4488aa;
    box-shadow: 0px 2px 26px 7px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 2px 26px 7px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 26px 7px rgba(0,0,0,0.75);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    animation: animate;
    animation-duration: 500ms;
}

.modalTypeTitle{
    color: #99EEEE;
    font-size: 16px;
}

.closeModal, .closeModal2{
    animation: animate;
    animation-duration: 500ms;
    width: 60px;
    height: 20px;
    border-radius: 2px;
    border: none
}

@keyframes animate{
    from{opacity: 1;}
    from{opacity: 0;}
}



@media screen and (max-width: 900px){
    header{
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 12em;
    }

    .logo-field{
        height: 50%;
    }

    .ender{
        justify-content: center;
        align-items: center;
    }

    .navigation ul a{
        font-size: 90%;
    }

    .apres p{
        line-height: normal;
        font-size: 90%;
    }

    .img-main-logo{
        width: 250px;
    }
}

@media screen and (max-width: 724px){
    .ender{
        width: 70%;
    }

    .navigation ul a{
        font-size: 70%;
    }

    .apres{
        font-size: 70%;
    }
}

@media screen and (max-width: 510px){
    .logo-field{
        height: 40%;
    }

    .img-logo{
        width: 400px;
    }

    .ender{
        font-size: 13px;
    }

    main{
        height: 50em;
    }

    .img-main-logo{
        width: 150px;
    }
}